body {
    /*background: #eee;*/
    padding-top: 80px;
    background: url('/images/wood-backgrounds-wallpapers.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.img-responsive {
    margin: 0 auto;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.white-text { color: #FFFFE0; }

.bg { 
    height: 50%;
    width: 100%;
}